/*
@import url("../../prosilver/theme/normalize.css?hash=48eb3f89");
@import url("../../prosilver/theme/base.css?hash=3a7fafb1");
@import url("../../prosilver/theme/utilities.css?hash=1034bac8");
@import url("../../prosilver/theme/common.css?hash=70bd1301");
@import url("../../prosilver/theme/links.css?hash=da040ebb");
@import url("../../prosilver/theme/content.css?hash=d7d65e66");
@import url("../../prosilver/theme/buttons.css?hash=15c14833");
@import url("../../prosilver/theme/cp.css?hash=5cc9ac0c");
@import url("../../prosilver/theme/forms.css?hash=18ee8211");
@import url("../../prosilver/theme/icons.css?hash=dbc0f3b9");
@import url("../../prosilver/theme/responsive.css?hash=438ff202");

@import url("colours.css");
*/

@import url("../../prosilver/theme/stylesheet.css");

/* General page structure. */

html, body {
	color: #666666;
	background-color: #999999;
}

body {
	margin: 0 20px;
	padding: 0;
	
	font-size: 12px;
	font-family: Arial, sans-serif;
}

.wrap {
	border: 0;
	padding: 0;
	max-width: none;
	background: none;
}

#page-header .headerbar {
	position: relative;
	height: 100px;
	margin: 0;
	border-radius: 0;
	padding: 0;
	background: url("images/bg_header.jpg") center no-repeat #B59F63;
}

#page-header .site_logo {
	width: 380px;
	height: 80px;
    background-image: url("./images/site_logo.png");
}

#page-header .headerbar #site-description h1, #page-header .headerbar #site-description p {
	display: none;
}

#page-header .headerbar #search-box {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	box-shadow: none;
}

#page-header .navbar, #page-footer .navbar {
	padding: 0;
	background: none;
}

#page-header #nav-main {
	margin: 0 0 5px 0;
	border-radius: 0 0 10px 10px;
	padding: 5px;
	background: white;
	box-shadow: inset 0 0 5px lightgrey;
}

ul.linklist > li {
	line-height: 1em;
}

.badge {
	top: 0;
}

a.header-avatar img {
    margin-bottom: 0;
    max-height: 18px;
}

#page-header #nav-breadcrumbs, #page-body, #page-footer #nav-footer {
	border: 10px solid #625949;
	border-image: repeating-linear-gradient(to bottom, #837259, #625949 4px, #837259 2px) 10 repeat;
}

#page-header #nav-breadcrumbs {
	border-bottom: thin solid lightgray;
	padding: 5px;
	background: white;
}

#page-body {
	margin: 0;
	border-top: 0;
	border-bottom: 0;
	border-width: 0 10px;
	padding: 5px;
	background: #F0F0F0;
}

#page-footer #nav-footer {
	border-top: thin solid lightgray;
	padding: 5px;
	background: white;
}

#page-body .rules {
    margin: 10px 0;
    padding: 5px;
	background-color: #ECD5D8;
    background-image: linear-gradient(white, rgba(255,255,255,0));
    border: thin solid grey;
    border-radius: 4px;
	box-shadow: 0 0 3px grey;
    font: medium Ubuntu, Arial, sans-serif;
    text-align: center;
    transition: 0.2s;
}

#page-body .rules a {
	display: block;
	text-decoration: none;
}

#page-body .rules a::before {
    padding-right: 1em;
    content: "►";
}

#page-body .rules a::after {
    padding-left: 1em;
    content: "◄";
}

/* Forum and topic lists */

.forabg, .forumbg {
	background-color: #333333;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0) 200px);
}

.forumbg .header a, .forabg .header a {
	color: white !important;
}

ul.forums {
	background: white;
}

li.row:hover {
    background-color: #F4FBFF;
}

ul.topiclist li {
    list-style-type: none;
    color: #666666;
}

.topiclist li.row a {
    color: #333333;
}

.topiclist li.row a:hover {
    color: #888888;
}

a.forumtitle.unread, a.topictitle.unread, a.subforum.unread {
    text-decoration: none;
    color: #0077CC !important;
}

/* Post lists */

.post {
    padding: 5px;
    margin-bottom: 5px;
    border: thin solid lightgrey;
    border-radius: 4px;
}

.bg1 {
	background-color: white;
}

.bg2 {
	background-color: #FBF8F4;
}

.bg3 {
    background-color: #F8F2ED !important;
}

.post h3 {
    margin: 0 0 5px 0 !important;
    padding: 0 0 5px 0;
    border-bottom: thin dashed lightgrey;
    font: small Georgia, serif;
    text-transform: none;
    line-height: 1.25em;
}

.post h3.first {
    font-size: large;
}


.postprofile {
	float: left;
	margin-right: 5px;
	border-right: 1px solid lightgrey;
	padding-right: 5px; 
}

.postprofile dd, .postprofile dt {
	margin: 0;
}

.has-profile .post-buttons {
	top: 0;
}

.online {
    background-image: none;
}

.online .postprofile {
    background-image: url("./../../prosilver/theme/en/icon_user_online.gif");
    background-repeat: no-repeat;
    background-position: top right;
}

.postbody {
	width: calc(100% - 200px - 1px - 11px);
	margin: 0;
}

.back2top .top {
	margin: 0;
}

/* All forms */

.panel {
    margin-bottom: 5px;
    border: thin solid lightgrey;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

.inputbox {
    border: thin solid grey;
    border-radius: 4px;
    padding: 3px;
    background-color: white;
    color: #333333;
    cursor: text;
	transition: 0.5s ease;
}

.inputbox:focus {
    box-shadow: 0 0 3px black;
}

a.button1, input.button1, a.button2, input.button2, input.button3, .button {
    border-radius: 4px;
    padding: 0.3em 0.6em;
    width: auto !important;
    background-color: #8C481B;
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0)) !important;
	box-shadow: none;
	text-shadow: none;
    font: small Ubuntu, Arial, sans-serif;
    color: white;
    transition: 0.2s;
}

a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, .button:hover {
    background-color: #A67351;
    box-shadow: 0 0 3px grey;
	text-shadow: none;
	border-color: grey;
	color: white;
}

a.button1:active, input.button1:active, a.button2:active, input.button2:active, input.button3:active, .button:active,
a.button1:focus, input.button1:focus, a.button2:focus, input.button2:focus, input.button3:focus, .button:focus {
    border-color: grey;
	background-color: #8C481B;
	box-shadow: inset 0 0 3px black;
	text-shadow: none;
	color: white;
}

.button .icon, .button:hover .icon, .button:focus .icon {
	color: inherit;
}

.tabs li.tab > a {
    border: thin solid lightgrey;
    border-radius: 4px 4px 0 0;
    background-color: #8C481B;
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0));
    font: small Ubuntu, Arial, sans-serif;
    text-decoration: none !important;
    color: white !important;
    transition: 0.2s;
}

.tabs li.tab > a:hover {
	background-color: #A67351;
	box-shadow: 0 0 3px grey;
}

.tabs li.tab.activetab > a {
    background: lightgrey;
    color: black !important;
}

.navigation a {
    display: block;
    margin: 1px 0;
    border-radius: 4px 0 0 4px;
    padding: 5px;
    background-color: #8C481B;
    background-image: linear-gradient(to right, rgba(255,255,255,0.25), rgba(255,255,255,0));
    border-top: thin solid lightgrey;
    border-bottom: thin solid lightgrey;
    border-left: thin solid lightgrey;
    font: small Ubuntu, Arial, sans-serif;
    text-decoration: none !important;
    color: white !important;
    transition: 0.2s;
}

.navigation a:hover {
    background-color: #A67351;
    box-shadow: 0 0 3px grey;
}

.navigation .active-subsection a {
    background: lightgrey;
    color: black !important;
}

/* All text */

h2 {
	font: large Georgia, serif;
}

h3 {
	border-bottom: thin dashed lightgrey;
	padding-bottom: 5px;
	font: medium Georgia, serif;
	color: #782201;
	text-transform: none;
}

a:not(.button):link, a:not(.button):visited {
    color: #0077CC;
    text-decoration: none;
}

a:not(.button):hover {
    color: #44BBFF;
    text-decoration: underline;
}

/* Responsive adaptations */

@media (max-width: 700px) {
	#page-header .navbar, #page-footer .navbar {
		margin: 0;
	}
	
	.postbody {
		width: auto;
		margin: 0;
	}
}


/* Trial manager light */

#trial-manager-light {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
	width: 300px;
	background: rgba(255,255,255,0.8);
	border: 1px solid grey;
	border-radius: 4px;
}

#trial-manager-light h5 {
    margin: 0;
    padding: 2px;
    width: auto;
    border-bottom: 1px solid grey;
    font: 10px Georgia, serif;
    text-align: center;
    color: #782201;
}

#trial-manager-light ul {
    height: 18px;
    min-height: 18px;
    overflow: hidden;
}

#trial-manager-light:hover ul {
    height: auto;
}

#trial-manager-light li {
    display: block;
    white-space: nowrap;
    font-size: small;
}

#trial-manager-light a {
    display: block;
	height: 18px;
    padding: 1px 2px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    color: black;
    transition: 0.2s;
}

#trial-manager-light a:hover {
    background: #44BBFF;
    color: white;
}

#trial-manager-light p {
    margin: 0;
    padding: 0;
    height: 19px;
    border-top: 1px solid grey;
    font-size: 13px;
    text-align: center;
}
